/* CONTENT */
#content                    {width:940px;margin:20px auto;min-height:300px;}
#content h3                 {color:#666;font-size:2em;font-weight:400;}
#content #products          {width:460px;float:left;}
#content #products img      {float:left;margin-right:20px;}
#content #products article  {margin-bottom:40px;}
#content #products h4       {line-height:1em;}
#content #testimonials      {width:460px;float:right;}

body.contactus #content		{margin:80px auto !important;}

/* FORM */
#content                    {color: #4D4D4D; font-weight: 900;}
#content p                  {font-weight: 400;}
.fieldname                  {width: 300px; float: left;}
.fieldbox                   {border: 1px solid #B3B3B3;border-radius: 4px; float: left; margin-bottom: 15px; width: 390px; height: 33px;}
.fieldboxQ                  {border: 1px solid #B3B3B3;border-radius: 4px; float: left; margin-bottom: 15px; width: 385px;}
hr                          {clear: both; margin-bottom: 15px; background-color: #CCCCCC;}
#toppings                   {float: left; margin-bottom: 15px; margin-top: 0px; font-weight: 400; width: 393px;}
#dough                      {float: left; margin-bottom: 15px; margin-top: 0px; font-weight: 400; width: 390px;}

#submitbtn,
#submitOrder                {height: 50px; width: 205px; margin-top: 40px; border: 1px solid #B3B3B3; background-color: #fff; border-radius: 3px; font-size: 1em;}
#All, #Pepperoni, #Sausage, #Ham, #Bacon, #Salami,
#Peppers, #Olives, #Jalapenos, #Mushrooms, #Pineapple, #Onion,
#handTossed, #thinCrust, #same,
#newYorkStyle, #glutenFree  {margin-right: 10px;}
/*input:valid               {border-color: green;} */
input:invalid               {border-color: red;}

/* MEDIA QUERIES */
@media screen and (max-width:959px) {
    main 						{width:768px;}
    figure						{width:inherit;height:140px;float:none;background-position:center;}
    #content 					{width:inherit;}
    #content #products,
    #content #testimonials 		{width:46%;margin:0 2%;}
}

@media screen and (max-width:767px) {
    main 						{width:460px;}
    #content #products,
    #content #testimonials 		{width:96%;margin:0 2%;float:none;}
    .fieldname, #submitbtn,
    .fieldbox, .fieldboxQ,
    #toppings, #dough           {margin-left: 2%;}
}

@media screen and (max-width:459px) {
    main 						{width:300px;}
    figure						{background-size:contain;height:100px;}
    select              		{width:95%;}
    #content h3					{font-size:1.6em;}
    .greybar, article img		{display:none;}
    footer						{text-align:center;}
    footer p, footer img 		{float:none;margin:0;}
    .fieldname                  {margin-left: 2%;}
    .fieldbox, .fieldboxQ,
    #toppings,#dough            {width: 295px; margin-left: 2%;}

}
